<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - NETWATCH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à NETWATCH</h1>
        <p>Experimente a melhor plataforma de streaming com conteúdos exclusivos.</p>
        <a href="/cadastro" class="btn">Cadastrar-se</a>
        <a href="/login" class="btn">Login</a> <!-- Adicionando botão de login -->
    </div>
</body>
</html>