<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Feito com Sucesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/" class="logout-button">Logout</a>
    <div class="container">
        <h1>Login feito com sucesso</h1>
        <p>O melhor streaming está a um clique de você</p>
        <div class="option-box">Veja os melhores Filmes</div>
        <div class="option-box">Maratone as melhores séries</div>
        <div class="option-box">Buscar seus títulos preferidos</div>
    </div>
</body>
</html>