/* Estilo geral */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fonte mais moderna */
    background-image: url('https://cdn.gencraft.com/prod/user/8190c00a-105a-486f-a2e3-dc928bd2077e/0094280f-c304-4b7c-9731-35aee928c57c/image/image1_0.jpg?Expires=1731195866&Signature=MgFjf4hVRo8bngvp~YQOapg4er4lHvcDkvhNyCHu4fxgM-UAQXLq6PIdGacng8n44T8BvDY71XK9eSI38aWSQJj-~Z9yE2zX0IwIzzSPoJvi3ifpZzCVe2WKgC15B0nDSi3iaiPs8KR4j-A6qghAKBdmgvTKFDErBzkzfd9toq6snKWy28Cs9In3mHby621~sQtyAIWIqEFP923X1SGZ8MQihH1ULDuPb8tUyTEKFyQwv280GmcKAGDyKo~Qu3HJRccCpqxmYflGJgDJPcIriIV7vdkIspzl9r54JbYqG3WM8D1TbYgN1KyNnNx2MG4B-7NBs~k7YeYRR~2T1ddnFg__&Key-Pair-Id=K3RDDB1TZ8BHT8'); /* URL da imagem de fundo */
    background-size: cover; /* Redimensiona a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem de fundo durante a rolagem */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container geral */
.container, .form-container {
    background-color: rgba(255, 255, 255, 0.9); /* Transparência no fundo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 10px auto; /* Move a caixa de texto alguns pixels para cima */
}

/* Título */
h1, h2 {
    color: #007bb5; /* Ajuste para azul escuro */
    text-align: center;
    font-weight: bold; /* Negrito */
    font-size: 2em; /* Tamanho da letra aumentado */
}

/* Parágrafo */
p {
    font-size: 20px; /* Tamanho da letra aumentado */
    font-weight: bold; /* Negrito */
    margin: 10px 0;
}

/* Botões e links */
.btn, a, button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bb5; /* Ajuste para azul escuro */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px; /* Aumentar o tamanho da letra */
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover, a:hover, button:hover {
    background-color: #005f8d; /* Ajuste para azul ainda mais escuro */
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Ajusta a largura para caber no container */
}